i{
    font-size: 40px;
    margin-top: -500px;
    margin-left: 1050px;
    position: absolute;
}
button{
    padding: 10px 40px;
    font-size: 40px;
    font-weight: bold;
    gap: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}
#count{
    background-color: white;
    border: 1px solid black;
    color: black;
    margin:0px 30px 0px 30px;
}
sup{
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
    border-color: black;
    background-color: black;
    color: white;
}
img{
    border: 10px solid black;
    border-radius: 10px;
}