i{
    font-size: 40px;
    margin-top: -500px;
    margin-left: 950px;
    position: absolute;
    color: firebrick;
}
button{
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    gap: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: 1px solid green;
    cursor: pointer;
    transition: .4s;
}
button:hover{
    background-color: white;
    color: green;
    transition: .3s;
}
#count{
    background-color: white;
    border: 1px solid black;
    color: green;
    padding: 20px 60px;
    font-size: 20px;
    margin:0px 30px 0px 30px;
    border-radius: 5px;
}
sup{
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
    border:2px solid green;
    background-color: green;
    color: honeydew;
}
img{
    border: 10px solid black;
    border-radius: 10px;
}